@model camera.DAL.carparkprovider

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>carparkprovider</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ProviderName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProviderName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ActiveAccountNum)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ActiveAccountNum)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.CarparkProviderID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
